{% extends 'base.html.twig' %}

{% block title %}Aliments{% endblock %}
{% block myTitle %}
    Liste des aliments
    {% if app.request.get("calory") %}
        avec moins de {{app.request.get("calory")}} calories
    {% elseif app.request.get("glucide") %}
        avec moins de {{app.request.get("glucide")}} glucides
    {% endif %}
{% endblock %}

{% block body %}
    <a href="{{path('aliments_list')}}" class="btn btn-primary">Tous</a>
    <a href="{{path('aliments_list', {'calory':50})}}" class="btn btn-primary">Aliments avec moins de 50 calories au 100 gr </a>
    <a href="{{path('aliments_list', {'glucide':1})}}" class="btn btn-primary">Aliments avec moins de 1 glucides au 100 gr </a>
    <div class="row">
        {% for aliment in aliments %}
            <div clas="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card border-primary mb-3 mx-auto" style="max-width:20rem">
                    <div class="card-header text-center">
                        <img src="{{asset('images/aliments/' ~ aliment.picture)}}" class="aliments-picture card-img-top" />
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-center pb-2 mx-3 border-bottom border-primary"> {{aliment.name}}</h3>
                        <p class="card-text">
                            <h4 class="text-center">Prix (kilo) : {{aliment.price}}</h4>
                        </p>
                        <table class="table text-center">
                        <tr class"table-primary">
                            <td>Propriété</td>
                            <td>Valeur (100g)</td>
                        </tr>
                        <tr>
                            <td>Calories</td>
                            <td>{{aliment.calories}}</td>
                        </tr>
                        <tr>
                            <td>Protéines</td>
                            <td>{{aliment.proteines}}</td>
                        </tr>
                        <tr>
                            <td>Glucides</td>
                            <td>{{aliment.glucides}}</td>
                        </tr>
                        <tr>
                            <td>Lipides</td>
                            <td>{{aliment.lipides}}</td>
                        </tr>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    <div>
{% endblock %}
