{% extends 'base.html.twig' %}

{% block title %}Admin - types{% endblock %}
{% block myTitle %}
  {% if type.id %}
    Modifier {{type.label}}
  {% else %}
    Ajouter
  {% endif %}
{% endblock %}

{% block body %}
    {{form_start(form)}}
    <div class="row">
      <div class="col-6">
        {% if type.picture is not null %}
          <img src="{{asset('images/types/' ~ type.picture)}}" style="width:25%"/>
        {% endif %}
        <div>{{form_row(form.picture)}}</div>
        <div>{{form_row(form.label, {"attr" : { "class" : "text-danger"}, "label":"Nom du type"})}}</div>
      </div>
      <div class="col-6">
        {{form_widget(form)}}
      <div>
    </div>
    {{form_end(form)}}
{% endblock %}
